<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/png"
      href='@routes.Assets.versioned("images/favicon.png")'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/salesforce-lightning-design-system-2.11.4/assets/styles/salesforce-lightning-design-system.min.css"
    />
  </head>

  <body>
    <my-app></my-app>
  </body>
  <script
    type="text/javascript"
    src='@routes.Assets.versioned("lwc/lwc~main.app.js")'
  ></script>
  <script
    type="text/javascript"
    src='@routes.Assets.versioned("lwc/node_vendors~main.app.js")'
  ></script>
  <script
    type="text/javascript"
    src='@routes.Assets.versioned("lwc/app.js")'
  ></script>
</html>
