<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned(" images/favicon.png")"> <link
        rel="stylesheet" type="text/css"
        href="/assets/salesforce-lightning-design-system-2.11.4/assets/styles/salesforce-lightning-design-system.min.css">
</head>

<body>
    <header class="slds-global-header_container">
        <div class="slds-global-header">
            <div class="slds-global-header__item">
                <div class="slds-global-header__logo"></div>
            </div>
        </div>
    </header>


    <script src="@routes.Assets.versioned(" javascripts/main.js")" type="text/javascript"></script>
</body>

</html>